# ---------------------------------------------------------
# OS
# ---------------------------------------------------------

# MacOS
.DS_Store

# Windows
Desktop.ini
Thumbs.db

# ---------------------------------------------------------
# IDE
# ---------------------------------------------------------

# Sublime Text
*.sublime-project
*.sublime-workspace

# VS Code
*.code-workspace
.devcontainer/
.vscode/

# ---------------------------------------------------------
# Common
# ---------------------------------------------------------

# Working Files
.vim/.netrwhist
.vim/viminfo
.vim/swaps/*
.vim/undo

# ---------------------------------------------------------
# JavaScript
# ---------------------------------------------------------

node_modules

# ---------------------------------------------------------
# Python
# ---------------------------------------------------------

# virtualenv
venv/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
